In [4]:
# TRY TO GET ZIP CODES FROM THE CENSUS SITE AND CAPTURE ALL THE DATA YOU CAN TO BUILD A GEOCODE DATA SET

In [ ]:
# explanation about how to build entity codes
# https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html

In [1]:
a = '''
Area Type                     Number of Digits    Example GEOID
State                         2                   48
County                        2+3=5               48201
County Subdivision            2+3+5=10            4820192975
Places                        2+5=7               4835000
Census Tract                  2+3+6=11            48201223100
Block Group                   2+3+6+1=12          4.82012E+11
Block                         2+3+6+4=15          4.82012E+14
Congressional District        2+2=4               902
State Legislative District    2+3=5               9033
ZCTA                          5                   20746
'''

In [2]:
import pandas as pd
from io import StringIO
import urllib.request, json 
import csv

In [3]:
# FUNCTIONS

In [47]:
def remove_qualifiers(place_name):
    s = place_name.replace(' town', '').replace(' Town', '').replace(' city', '').replace(' county', '').replace(' County', '').replace(' village', '').replace(' Village', '').replace(' CDP', ' Census Designated Place')
    s = s.replace("DeFuniak", "De Funiak")
    s = s.replace("AFB", "Air Force Base")
    return s

In [42]:
def get_type(place_name):
    if " town" in place_name or " Town" in place_name:
        return "town"
    elif " city" in place_name:
        return "city"
    elif " county" in place_name or " County" in place_name:
        return "county"
    elif " village" in place_name or " Village" in place_name:
        return "village"
    elif " CDP" in place_name:
        return "cdp"

In [6]:
# STATES

In [7]:
state_response = urllib.request.urlopen(f"https://cbb.census.gov/arcgis/rest/services/Census_EMS/Census/MapServer/11/query?f=json&resultOffset=0&resultRecordCount=100&where=1=1&outFields=NAME,STATE&returnGeometry=false")
state_json_string = state_response.read().decode('utf-8')
state_json_obj = json.loads(state_json_string)
state_json_features = state_json_obj['features']

state_df = pd.DataFrame(columns=['STATE_NAME', 'FIPS_CODE'])
for sf in state_json_features:
    new_row = {
       'STATE_NAME':sf["attributes"]["NAME"],
       'FIPS_CODE':sf["attributes"]["STATE"]
    }   
    state_df = pd.concat([state_df, pd.DataFrame(new_row, index=[0])], ignore_index=True)

print(state_df)

                                      STATE_NAME FIPS_CODE
0                                  West Virginia        54
1                                        Florida        12
2                                       Illinois        17
3                                      Minnesota        27
4                                       Maryland        24
5                                   Rhode Island        44
6                                          Idaho        16
7                                  New Hampshire        33
8                                 North Carolina        37
9                                        Vermont        50
10                                   Connecticut        09
11                                      Delaware        10
12                                    New Mexico        35
13                                    California        06
14                                    New Jersey        34
15                                     Wisconsin        55
16                                        Oregon        41
17                                      Nebraska        31
18                                  Pennsylvania        42
19                                    Washington        53
20                                     Louisiana        22
21                                       Georgia        13
22                                       Alabama        01
23                                          Utah        49
24                                          Ohio        39
25                                         Texas        48
26                                      Colorado        08
27                                South Carolina        45
28                                      Oklahoma        40
29                                     Tennessee        47
30                                       Wyoming        56
31                                        Hawaii        15
32                                  North Dakota        38
33                                      Kentucky        21
34                  United States Virgin Islands        78
35  Commonwealth of the Northern Mariana Islands        69
36                                          Guam        66
37                                         Maine        23
38                                      New York        36
39                                        Nevada        32
40                                        Alaska        02
41                                American Samoa        60
42                                      Michigan        26
43                                      Arkansas        05
44                                   Mississippi        28
45                                      Missouri        29
46                                       Montana        30
47                                        Kansas        20
48                                       Indiana        18
49                                   Puerto Rico        72
50                                  South Dakota        46
51                                 Massachusetts        25
52                                      Virginia        51
53                          District of Columbia        11
54                                          Iowa        19
55                                       Arizona        04

In [8]:
# STATE ABBREVIATIONS

In [9]:
abbrev_response = urllib.request.urlopen(f"https://www2.census.gov/geo/docs/reference/state.txt")
abbrev_text = abbrev_response.read().decode('utf-8').replace('|', ',').strip()

with open('geo_state_abbrev.csv', 'w') as f:
    f.write(abbrev_text)

abbrev_df = pd.read_csv("geo_state_abbrev.csv")
print(abbrev_df)

    STATE STUSAB                   STATE_NAME  STATENS
0       1     AL                      Alabama  1779775
1       2     AK                       Alaska  1785533
2       4     AZ                      Arizona  1779777
3       5     AR                     Arkansas    68085
4       6     CA                   California  1779778
5       8     CO                     Colorado  1779779
6       9     CT                  Connecticut  1779780
7      10     DE                     Delaware  1779781
8      11     DC         District of Columbia  1702382
9      12     FL                      Florida   294478
10     13     GA                      Georgia  1705317
11     15     HI                       Hawaii  1779782
12     16     ID                        Idaho  1779783
13     17     IL                     Illinois  1779784
14     18     IN                      Indiana   448508
15     19     IA                         Iowa  1779785
16     20     KS                       Kansas   481813
17     21     KY                     Kentucky  1779786
18     22     LA                    Louisiana  1629543
19     23     ME                        Maine  1779787
20     24     MD                     Maryland  1714934
21     25     MA                Massachusetts   606926
22     26     MI                     Michigan  1779789
23     27     MN                    Minnesota   662849
24     28     MS                  Mississippi  1779790
25     29     MO                     Missouri  1779791
26     30     MT                      Montana   767982
27     31     NE                     Nebraska  1779792
28     32     NV                       Nevada  1779793
29     33     NH                New Hampshire  1779794
30     34     NJ                   New Jersey  1779795
31     35     NM                   New Mexico   897535
32     36     NY                     New York  1779796
33     37     NC               North Carolina  1027616
34     38     ND                 North Dakota  1779797
35     39     OH                         Ohio  1085497
36     40     OK                     Oklahoma  1102857
37     41     OR                       Oregon  1155107
38     42     PA                 Pennsylvania  1779798
39     44     RI                 Rhode Island  1219835
40     45     SC               South Carolina  1779799
41     46     SD                 South Dakota  1785534
42     47     TN                    Tennessee  1325873
43     48     TX                        Texas  1779801
44     49     UT                         Utah  1455989
45     50     VT                      Vermont  1779802
46     51     VA                     Virginia  1779803
47     53     WA                   Washington  1779804
48     54     WV                West Virginia  1779805
49     55     WI                    Wisconsin  1779806
50     56     WY                      Wyoming  1779807
51     60     AS               American Samoa  1802701
52     66     GU                         Guam  1802705
53     69     MP     Northern Mariana Islands  1779809
54     72     PR                  Puerto Rico  1779808
55     74     UM  U.S. Minor Outlying Islands  1878752
56     78     VI          U.S. Virgin Islands  1802710

In [10]:
merge_df = state_df.merge(abbrev_df, on="STATE_NAME")
merge_df[["STATE_NAME", "FIPS_CODE", "STUSAB"]]

              STATE_NAME FIPS_CODE STUSAB
0          West Virginia        54     WV
1                Florida        12     FL
2               Illinois        17     IL
3              Minnesota        27     MN
4               Maryland        24     MD
5           Rhode Island        44     RI
6                  Idaho        16     ID
7          New Hampshire        33     NH
8         North Carolina        37     NC
9                Vermont        50     VT
10           Connecticut        09     CT
11              Delaware        10     DE
12            New Mexico        35     NM
13            California        06     CA
14            New Jersey        34     NJ
15             Wisconsin        55     WI
16                Oregon        41     OR
17              Nebraska        31     NE
18          Pennsylvania        42     PA
19            Washington        53     WA
20             Louisiana        22     LA
21               Georgia        13     GA
22               Alabama        01     AL
23                  Utah        49     UT
24                  Ohio        39     OH
25                 Texas        48     TX
26              Colorado        08     CO
27        South Carolina        45     SC
28              Oklahoma        40     OK
29             Tennessee        47     TN
30               Wyoming        56     WY
31                Hawaii        15     HI
32          North Dakota        38     ND
33              Kentucky        21     KY
34                  Guam        66     GU
35                 Maine        23     ME
36              New York        36     NY
37                Nevada        32     NV
38                Alaska        02     AK
39        American Samoa        60     AS
40              Michigan        26     MI
41              Arkansas        05     AR
42           Mississippi        28     MS
43              Missouri        29     MO
44               Montana        30     MT
45                Kansas        20     KS
46               Indiana        18     IN
47           Puerto Rico        72     PR
48          South Dakota        46     SD
49         Massachusetts        25     MA
50              Virginia        51     VA
51  District of Columbia        11     DC
52                  Iowa        19     IA
53               Arizona        04     AZ

In [11]:
fedcodes_df = pd.read_csv("fedcodes_data.csv")

In [5]:
state_codes = ["01","02","04","05","06","08","09","10","11","12","13","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","44","45","46","47","48","49","50","51","53","54","55","56"]

In [50]:
get_geometry = "true"
geo_df = pd.DataFrame()
    
for index, row in merge_df[1:2].iterrows():
    # todo get more fields or add additional requests for other types of entities
    fips_code = row["FIPS_CODE"]
    response = urllib.request.urlopen(f"https://cbb.census.gov/arcgis/rest/services/Census_EMS/Census/MapServer/4/query?f=json&resultOffset=0&resultRecordCount=1000&where=STATE='{fips_code}'&orderByFields=STATE,PLACE&outFields=GEOID,NAME,PLACE,STATE&returnGeometry={get_geometry}&spatialRel=esriSpatialRelIntersects")
    json_string = response.read().decode('utf-8')
    json_obj = json.loads(json_string)
    #print(type(json_obj))
    json_features = json_obj['features']
    for f in json_features:
        
        place_name = remove_qualifiers(f["attributes"]["NAME"])
        
        cond_1 = fedcodes_df.feature_name == remove_qualifiers(place_name)
        cond_2 = fedcodes_df.state_name == row["STATE_NAME"]
        #cond_3 = fedcodes_df.feature_class == "Populated Place"
        #cond_4 = fedcodes_df.feature_class == "Census"
        match = fedcodes_df[(cond_1) & (cond_2)]
        county_code = "0"#match.iloc[0]['county_numeric']
        if((match.shape[0] > 1) or (match.shape[0] < 1)):
            print(f"{match.shape} - {f['attributes']['NAME']} - {place_name} - {row['STATE_NAME']}")
        
        new_row = {
            'GEOID':f["attributes"]["GEOID"],
            'PLACE_NAME':place_name,
            'PLACE_ID':f["attributes"]["PLACE"],
            'FIPS_CODE':row["FIPS_CODE"],
            'TYPE':get_type(place_name),
            'STATE_NAME':row["STATE_NAME"],
            'STATE_ABBREVIATION':row["STUSAB"],
            'COUNTY_CODE':county_code
        }
        geo_df = pd.concat([geo_df, pd.DataFrame(new_row, index=[0])], ignore_index=True)

#print(geo_df)
#geo_df.to_csv("geo_data.csv")

(3, 22) - Bay Lake city - Bay Lake - Florida
(2, 22) - Englewood CDP - Englewood Census Designated Place - Florida
(2, 22) - Flagler Beach city - Flagler Beach - Florida
(4, 22) - Four Corners CDP - Four Corners Census Designated Place - Florida
(2, 22) - Goldenrod CDP - Goldenrod Census Designated Place - Florida
(0, 22) - Greenacres city - Greenacres - Florida
(0, 22) - Gulf Gate Estates CDP - Gulf Gate Estates Census Designated Place - Florida
(2, 22) - High Point CDP - High Point Census Designated Place - Florida
(0, 22) - Indiantown CDP - Indiantown Census Designated Place - Florida
(0, 22) - Islamorada, Village of Islands village - Islamorada, of Islands - Florida
(0, 22) - Jan Phyl Village CDP - Jan Phyl Census Designated Place - Florida
(0, 22) - Lake Worth city - Lake Worth - Florida
(2, 22) - Lighthouse Point city - Lighthouse Point - Florida
(2, 22) - Live Oak city - Live Oak - Florida
(2, 22) - Longboat Key town - Longboat Key - Florida
(2, 22) - Longwood city - Longwood - Florida
(0, 22) - Marco Island city - Marco Island - Florida
(2, 22) - Miami Gardens city - Miami Gardens - Florida
(4, 22) - Midway city - Midway - Florida
(2, 22) - Midway CDP - Midway Census Designated Place - Florida
(0, 22) - Nassau Village-Ratliff CDP - Nassau-Ratliff Census Designated Place - Florida
(0, 22) - North Bay Village city - North Bay - Florida
(2, 22) - Oakland Park city - Oakland Park - Florida
(4, 22) - Pinecrest village - Pinecrest - Florida
(2, 22) - Pine Ridge CDP - Pine Ridge Census Designated Place - Florida
(3, 22) - Plantation city - Plantation - Florida
(2, 22) - Poinciana CDP - Poinciana Census Designated Place - Florida
(2, 22) - Port LaBelle CDP - Port LaBelle Census Designated Place - Florida
(0, 22) - Port St. Joe city - Port St. Joe - Florida
(0, 22) - Port St. Lucie city - Port St. Lucie - Florida
(0, 22) - Progress Village CDP - Progress Census Designated Place - Florida
(0, 22) - St. Augustine city - St. Augustine - Florida
(0, 22) - St. Augustine Beach city - St. Augustine Beach - Florida
(0, 22) - St. Augustine Shores CDP - St. Augustine Shores Census Designated Place - Florida
(0, 22) - St. Augustine South CDP - St. Augustine South Census Designated Place - Florida
(0, 22) - St. Cloud city - St. Cloud - Florida
(0, 22) - St. James City CDP - St. James City Census Designated Place - Florida
(0, 22) - St. Pete Beach city - St. Pete Beach - Florida
(0, 22) - St. Petersburg city - St. Petersburg - Florida
(2, 22) - Seminole city - Seminole - Florida
(2, 22) - Springfield city - Springfield - Florida
(4, 22) - Sweetwater city - Sweetwater - Florida
(0, 22) - The Villages CDP - Thes Census Designated Place - Florida
(2, 22) - University CDP - University Census Designated Place - Florida
(2, 22) - University CDP - University Census Designated Place - Florida
(2, 22) - West Park city - West Park - Florida
(2, 22) - Whitfield CDP - Whitfield Census Designated Place - Florida
(0, 22) - World Golf Village CDP - World Golf Census Designated Place - Florida
(0, 22) - Balance of Alachua County - Balance of Alachua - Florida
(0, 22) - Balance of Baker County - Balance of Baker - Florida
(0, 22) - Balance of Bay County - Balance of Bay - Florida
(0, 22) - Balance of Bradford County - Balance of Bradford - Florida
(0, 22) - Balance of Brevard County - Balance of Brevard - Florida
(0, 22) - Balance of Broward County - Balance of Broward - Florida
(0, 22) - Balance of Calhoun County - Balance of Calhoun - Florida
(0, 22) - Balance of Charlotte County - Balance of Charlotte - Florida
(0, 22) - Balance of Citrus County - Balance of Citrus - Florida
(0, 22) - Balance of Clay County - Balance of Clay - Florida
(0, 22) - Balance of Collier County - Balance of Collier - Florida
(0, 22) - Balance of Columbia County - Balance of Columbia - Florida
(0, 22) - Balance of DeSoto County - Balance of DeSoto - Florida
(2, 22) - Dixie County - Dixie - Florida
(0, 22) - Balance of Escambia County - Balance of Escambia - Florida
(0, 22) - Balance of Flagler County - Balance of Flagler - Florida
(0, 22) - Balance of Franklin County - Balance of Franklin - Florida
(0, 22) - Balance of Gadsden County - Balance of Gadsden - Florida
(0, 22) - Balance of Glades County - Balance of Glades - Florida
(0, 22) - Balance of Gulf County - Balance of Gulf - Florida
(0, 22) - Balance of Hamilton County - Balance of Hamilton - Florida
(0, 22) - Balance of Hardee County - Balance of Hardee - Florida
(0, 22) - Balance of Hendry County - Balance of Hendry - Florida
(0, 22) - Balance of Hernando County - Balance of Hernando - Florida
(0, 22) - Balance of Highlands County - Balance of Highlands - Florida
(0, 22) - Balance of Hillsborough County - Balance of Hillsborough - Florida
(0, 22) - Balance of Holmes County - Balance of Holmes - Florida
(0, 22) - Balance of Indian River County - Balance of Indian River - Florida
(0, 22) - Balance of Jackson County - Balance of Jackson - Florida
(0, 22) - Jefferson County - Jefferson - Florida
(0, 22) - Balance of Lake County - Balance of Lake - Florida
(0, 22) - Balance of Lee County - Balance of Lee - Florida
(0, 22) - Balance of Leon County - Balance of Leon - Florida
(0, 22) - Balance of Levy County - Balance of Levy - Florida
(2, 22) - Liberty County - Liberty - Florida
(0, 22) - Balance of Madison County - Balance of Madison - Florida
(0, 22) - Balance of Manatee County - Balance of Manatee - Florida
(0, 22) - Balance of Marion County - Balance of Marion - Florida
(0, 22) - Balance of Martin County - Balance of Martin - Florida
(0, 22) - Balance of Miami-Dade County - Balance of Miami-Dade - Florida
(0, 22) - Balance of Monroe County - Balance of Monroe - Florida
(0, 22) - Balance of Nassau County - Balance of Nassau - Florida
(0, 22) - Balance of Okaloosa County - Balance of Okaloosa - Florida
(0, 22) - Balance of Okeechobee County - Balance of Okeechobee - Florida
(0, 22) - Balance of Orange County - Balance of Orange - Florida
(0, 22) - Balance of Osceola County - Balance of Osceola - Florida
(0, 22) - Balance of Palm Beach County - Balance of Palm Beach - Florida
(0, 22) - Balance of Pasco County - Balance of Pasco - Florida
(0, 22) - Balance of Pinellas County - Balance of Pinellas - Florida
(0, 22) - Balance of Polk County - Balance of Polk - Florida
(0, 22) - Balance of Putnam County - Balance of Putnam - Florida
(0, 22) - Balance of St. Johns County - Balance of St. Johns - Florida
(0, 22) - Balance of St. Lucie County - Balance of St. Lucie - Florida
(0, 22) - Balance of Santa Rosa County - Balance of Santa Rosa - Florida
(0, 22) - Balance of Sarasota County - Balance of Sarasota - Florida
(0, 22) - Balance of Seminole County - Balance of Seminole - Florida
(0, 22) - Balance of Sumter County - Balance of Sumter - Florida
(0, 22) - Balance of Suwannee County - Balance of Suwannee - Florida
(0, 22) - Balance of Taylor County - Balance of Taylor - Florida
(0, 22) - Union County - Union - Florida
(0, 22) - Balance of Volusia County - Balance of Volusia - Florida
(0, 22) - Balance of Wakulla County - Balance of Wakulla - Florida
(0, 22) - Balance of Walton County - Balance of Walton - Florida
(0, 22) - Balance of Washington County - Balance of Washington - Florida
       GEOID                            PLACE_NAME PLACE_ID FIPS_CODE  TYPE  \
0    1200375                               Alachua    00375        12  None
1    1200410       Alafaya Census Designated Place    00410        12  None
2    1200950                     Altamonte Springs    00950        12  None
3    1201100       Alturas Census Designated Place    01100        12  None
4    1201675  Apollo Beach Census Designated Place    01675        12  None
..       ...                                   ...      ...       ...   ...
675  1298125                                 Union    98125        12  None
676  1298127                    Balance of Volusia    98127        12  None
677  1298129                    Balance of Wakulla    98129        12  None
678  1298131                     Balance of Walton    98131        12  None
679  1298133                 Balance of Washington    98133        12  None

    STATE_NAME STATE_ABBREVIATION COUNTY_CODE
0      Florida                 FL           0
1      Florida                 FL           0
2      Florida                 FL           0
3      Florida                 FL           0
4      Florida                 FL           0
..         ...                ...         ...
675    Florida                 FL           0
676    Florida                 FL           0
677    Florida                 FL           0
678    Florida                 FL           0
679    Florida                 FL           0

[680 rows x 8 columns]