In [4]:
# TRY TO GET ZIP CODES FROM THE CENSUS SITE AND CAPTURE ALL THE DATA YOU CAN TO BUILD A GEOCODE DATA SET

In [ ]:
# explanation about how to build entity codes
# https://www.census.gov/programs-surveys/geography/guidance/geo-identifiers.html

In [1]:
a = '''
Area Type                     Number of Digits    Example GEOID
State                         2                   48
County                        2+3=5               48201
County Subdivision            2+3+5=10            4820192975
Places                        2+5=7               4835000
Census Tract                  2+3+6=11            48201223100
Block Group                   2+3+6+1=12          4.82012E+11
Block                         2+3+6+4=15          4.82012E+14
Congressional District        2+2=4               902
State Legislative District    2+3=5               9033
ZCTA                          5                   20746
'''

In [2]:
import pandas as pd
from io import StringIO
import urllib.request, json 
import csv

In [3]:
# FUNCTIONS

In [149]:
def remove_qualifiers(place_name):
    s = place_name
    if("township" not in s and "Township" not in s and "Ashippun" not in s):
        s = s.replace("ship", " ")
    else:
        s = place_name.replace(' township', '').replace(' Township', '')
    s = place_name.replace(' town', '').replace(' Town', '')  
    s = s.replace(' city', '')
    s = s.replace(' village', '')
    s = s.replace(' CDP', '')
    s = s.replace("DeFuniak", "De Funiak")
    s = s.replace("AFB", "Air Force Base")
    s = s.replace("Balance of ", "")
    s = s.replace("St.", "Saint")
    s = s.replace("Ste.", "Sainte")
    s = s.replace("City of the ", "")
    s = s.replace("City of ", "")
    s = s.replace("Township of ", "")
    s = s.replace(" consolidated government", "")
    s = s.replace(" (balance)", "")
    s = s.replace(" municipality", "")
    s = s.replace(" unified government", "")
    s = s.replace(" borough", "")
    s = s.replace(" charter", "")
    return s.strip()

In [144]:
def get_type(place_name):
    if " town" in place_name or " Town" in place_name:
        return "town"
    elif " city" in place_name:
        return "city"
    elif " county" in place_name or " County" in place_name:
        return "county"
    elif " village" in place_name:
        return "village"
    elif " municipality" in place_name:
        return "municipality"
    elif " unified government" in place_name:
        return "unified government"
    elif " borough" in place_name:
        return "borough"
    elif " charter" in place_name:
        return "charter"
    elif " CDP" in place_name:
        return "cdp"

In [6]:
# STATES

In [52]:
state_response = urllib.request.urlopen(f"https://cbb.census.gov/arcgis/rest/services/Census_EMS/Census/MapServer/11/query?f=json&resultOffset=0&resultRecordCount=100&where=1=1&outFields=NAME,STATE&returnGeometry=false")
state_json_string = state_response.read().decode('utf-8')
state_json_obj = json.loads(state_json_string)
state_json_features = state_json_obj['features']

state_df = pd.DataFrame(columns=['STATE_NAME', 'FIPS_CODE'])
for sf in state_json_features:
    new_row = {
       'STATE_NAME':sf["attributes"]["NAME"],
       'FIPS_CODE':sf["attributes"]["STATE"]
    }   
    state_df = pd.concat([state_df, pd.DataFrame(new_row, index=[0])], ignore_index=True)

print(state_df)

                                      STATE_NAME FIPS_CODE
0                                  West Virginia        54
1                                        Florida        12
2                                       Illinois        17
3                                      Minnesota        27
4                                       Maryland        24
5                                   Rhode Island        44
6                                          Idaho        16
7                                  New Hampshire        33
8                                 North Carolina        37
9                                        Vermont        50
10                                   Connecticut        09
11                                      Delaware        10
12                                    New Mexico        35
13                                    California        06
14                                    New Jersey        34
15                                     Wisconsin        55
16                                        Oregon        41
17                                      Nebraska        31
18                                  Pennsylvania        42
19                                    Washington        53
20                                     Louisiana        22
21                                       Georgia        13
22                                       Alabama        01
23                                          Utah        49
24                                          Ohio        39
25                                         Texas        48
26                                      Colorado        08
27                                South Carolina        45
28                                      Oklahoma        40
29                                     Tennessee        47
30                                       Wyoming        56
31                                        Hawaii        15
32                                  North Dakota        38
33                                      Kentucky        21
34                  United States Virgin Islands        78
35  Commonwealth of the Northern Mariana Islands        69
36                                          Guam        66
37                                         Maine        23
38                                      New York        36
39                                        Nevada        32
40                                        Alaska        02
41                                American Samoa        60
42                                      Michigan        26
43                                      Arkansas        05
44                                   Mississippi        28
45                                      Missouri        29
46                                       Montana        30
47                                        Kansas        20
48                                       Indiana        18
49                                   Puerto Rico        72
50                                  South Dakota        46
51                                 Massachusetts        25
52                                      Virginia        51
53                          District of Columbia        11
54                                          Iowa        19
55                                       Arizona        04

In [8]:
# STATE ABBREVIATIONS

In [53]:
abbrev_response = urllib.request.urlopen(f"https://www2.census.gov/geo/docs/reference/state.txt")
abbrev_text = abbrev_response.read().decode('utf-8').replace('|', ',').strip()

with open('geo_state_abbrev.csv', 'w') as f:
    f.write(abbrev_text)

abbrev_df = pd.read_csv("geo_state_abbrev.csv")
print(abbrev_df)

    STATE STUSAB                   STATE_NAME  STATENS
0       1     AL                      Alabama  1779775
1       2     AK                       Alaska  1785533
2       4     AZ                      Arizona  1779777
3       5     AR                     Arkansas    68085
4       6     CA                   California  1779778
5       8     CO                     Colorado  1779779
6       9     CT                  Connecticut  1779780
7      10     DE                     Delaware  1779781
8      11     DC         District of Columbia  1702382
9      12     FL                      Florida   294478
10     13     GA                      Georgia  1705317
11     15     HI                       Hawaii  1779782
12     16     ID                        Idaho  1779783
13     17     IL                     Illinois  1779784
14     18     IN                      Indiana   448508
15     19     IA                         Iowa  1779785
16     20     KS                       Kansas   481813
17     21     KY                     Kentucky  1779786
18     22     LA                    Louisiana  1629543
19     23     ME                        Maine  1779787
20     24     MD                     Maryland  1714934
21     25     MA                Massachusetts   606926
22     26     MI                     Michigan  1779789
23     27     MN                    Minnesota   662849
24     28     MS                  Mississippi  1779790
25     29     MO                     Missouri  1779791
26     30     MT                      Montana   767982
27     31     NE                     Nebraska  1779792
28     32     NV                       Nevada  1779793
29     33     NH                New Hampshire  1779794
30     34     NJ                   New Jersey  1779795
31     35     NM                   New Mexico   897535
32     36     NY                     New York  1779796
33     37     NC               North Carolina  1027616
34     38     ND                 North Dakota  1779797
35     39     OH                         Ohio  1085497
36     40     OK                     Oklahoma  1102857
37     41     OR                       Oregon  1155107
38     42     PA                 Pennsylvania  1779798
39     44     RI                 Rhode Island  1219835
40     45     SC               South Carolina  1779799
41     46     SD                 South Dakota  1785534
42     47     TN                    Tennessee  1325873
43     48     TX                        Texas  1779801
44     49     UT                         Utah  1455989
45     50     VT                      Vermont  1779802
46     51     VA                     Virginia  1779803
47     53     WA                   Washington  1779804
48     54     WV                West Virginia  1779805
49     55     WI                    Wisconsin  1779806
50     56     WY                      Wyoming  1779807
51     60     AS               American Samoa  1802701
52     66     GU                         Guam  1802705
53     69     MP     Northern Mariana Islands  1779809
54     72     PR                  Puerto Rico  1779808
55     74     UM  U.S. Minor Outlying Islands  1878752
56     78     VI          U.S. Virgin Islands  1802710

In [113]:
merge_df = state_df.merge(abbrev_df, on="STATE_NAME").sort_values('FIPS_CODE')
merge_df[["STATE_NAME", "FIPS_CODE", "STUSAB"]]

              STATE_NAME FIPS_CODE STUSAB
22               Alabama        01     AL
38                Alaska        02     AK
53               Arizona        04     AZ
41              Arkansas        05     AR
13            California        06     CA
26              Colorado        08     CO
10           Connecticut        09     CT
11              Delaware        10     DE
51  District of Columbia        11     DC
1                Florida        12     FL
21               Georgia        13     GA
31                Hawaii        15     HI
6                  Idaho        16     ID
2               Illinois        17     IL
46               Indiana        18     IN
52                  Iowa        19     IA
45                Kansas        20     KS
33              Kentucky        21     KY
20             Louisiana        22     LA
35                 Maine        23     ME
4               Maryland        24     MD
49         Massachusetts        25     MA
40              Michigan        26     MI
3              Minnesota        27     MN
42           Mississippi        28     MS
43              Missouri        29     MO
44               Montana        30     MT
17              Nebraska        31     NE
37                Nevada        32     NV
7          New Hampshire        33     NH
14            New Jersey        34     NJ
12            New Mexico        35     NM
36              New York        36     NY
8         North Carolina        37     NC
32          North Dakota        38     ND
24                  Ohio        39     OH
28              Oklahoma        40     OK
16                Oregon        41     OR
18          Pennsylvania        42     PA
5           Rhode Island        44     RI
27        South Carolina        45     SC
48          South Dakota        46     SD
29             Tennessee        47     TN
25                 Texas        48     TX
23                  Utah        49     UT
9                Vermont        50     VT
50              Virginia        51     VA
19            Washington        53     WA
0          West Virginia        54     WV
15             Wisconsin        55     WI
30               Wyoming        56     WY
39        American Samoa        60     AS
34                  Guam        66     GU
47           Puerto Rico        72     PR

In [ ]:
# LOAD FEDCODES

In [131]:
fedcodes_df = pd.read_csv("fedcodes_data.csv")

In [ ]:
# BUILD GEO DATA

In [134]:
# usable state codes
state_codes = [
    "01","02","04","05","06","08","09","10","11","12","13","15","16","17","18","19","20",
    "21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37",
    "38","39","40","41","42","44","45","46","47","48","49","50","51","53","54","55","56"
]

In [150]:
get_geometry = "true"
geo_df = pd.DataFrame()
    
for index, row in merge_df.iterrows():
    fips_code = row["FIPS_CODE"]
    if (fips_code not in state_codes):
        continue
        
    response = urllib.request.urlopen(f"https://cbb.census.gov/arcgis/rest/services/Census_EMS/Census/MapServer/4/query?f=json&resultOffset=0&resultRecordCount=1000&where=STATE='{fips_code}'&orderByFields=STATE,PLACE&outFields=GEOID,NAME,PLACE,STATE&returnGeometry={get_geometry}&spatialRel=esriSpatialRelIntersects")
    json_string = response.read().decode('utf-8')
    json_obj = json.loads(json_string)
    json_features = json_obj['features']
    
    for f in json_features:
        
        place_name = f["attributes"]["NAME"]
        place_type = get_type(place_name)
        if(place_type == "cdp"):
            continue
            
        geo_id = f["attributes"]["GEOID"]
        place_id = f["attributes"]["PLACE"]
        place_name_trimmed = remove_qualifiers(place_name)
        state_name = row["STATE_NAME"]
        state_abbrev = row["STUSAB"]
        
        cond_1 = fedcodes_df.feature_name == place_name
        cond_2 = fedcodes_df.feature_name == place_name_trimmed
        cond_3 = fedcodes_df.census_code == str(int(place_id))
        cond_4 = fedcodes_df.state_name == state_name
        match = fedcodes_df[(cond_1 | cond_2 | cond_3) & (cond_4)]
        
        # try to filter by place id
        if(match.shape[0] != 1):
            temp = match[match.census_code == place_id]
            if(temp.shape[0] > 0):
                match = temp
            
        # try to filter by place type
        if(match.shape[0] != 1):
            class_type = "Civil" if place_type == "county" else "Populated Place"
            temp = match[match.feature_class == class_type]
            if(temp.shape[0] > 0):
                match = temp
            
        if(match.shape[0] < 1):
            print(f"{match.shape[0]} - {geo_id} - {place_id} - {str(int(place_id))} - {place_name} - {place_name_trimmed} - {place_type} - {state_name} - {fips_code}")
        
        if(match.shape[0] > 0):
            county_code = match.iloc[0]['county_numeric']
        else:
            county_code = 0
        
        new_row = {
            'GEOID':geo_id,
            'PLACE_NAME':place_name_trimmed,
            'PLACE_ID':place_id,
            'FIPS_CODE':fips_code,
            'TYPE':get_type(place_name),
            'STATE_NAME':state_name,
            'STATE_ABBREVIATION':state_abbrev,
            'COUNTY_CODE':county_code
        }
        geo_df = pd.concat([geo_df, pd.DataFrame(new_row, index=[0])], ignore_index=True)

#print(geo_df.COUNTY_CODE)
geo_df.to_csv("geo_data.csv")

0 - 0205200 - 05200 - 5200 - Barrow city - Barrow - city - Alaska - 02
0 - 0602112 - 02112 - 2112 - Angels city - Angels - city - California - 06
0 - 0906820 - 06820 - 6820 - Bozrah town - Bozrah - town - Connecticut - 09
0 - 1304204 - 04204 - 4204 - Augusta-Richmond County consolidated government (balance) - Augusta-Richmond County - county - Georgia - 13
0 - 1608830 - 08830 - 8830 - Boise City city - Boise City - city - Idaho - 16
0 - 2005337 - 05337 - 5337 - Bel Aire city - Bel Aire - city - Kansas - 20
0 - 2201885 - 01885 - 1885 - Amite City town - Amite City - town - Louisiana - 22
0 - 2306260 - 06260 - 6260 - Bowdoin town - Bowdoin - town - Maine - 23
0 - 2507350 - 07350 - 7350 - Boxborough town - Boxborough - town - Massachusetts - 25
0 - 2546575 - 46575 - 46575 - North Attleborough town - North Attleborough - town - Massachusetts - 25
0 - 2600200 - 00200 - 200 - Acme township - Acmeship - town - Michigan - 26
0 - 2600240 - 00240 - 240 - Ada township - Adaship - town - Michigan - 26
0 - 2600320 - 00320 - 320 - Adams township - Adamsship - town - Michigan - 26
0 - 2600400 - 00400 - 400 - Addison township - Addisonship - town - Michigan - 26
0 - 2600460 - 00460 - 460 - Adrian township - Adrianship - town - Michigan - 26
0 - 2600800 - 00800 - 800 - Alaiedon township - Alaiedonship - town - Michigan - 26
0 - 2600840 - 00840 - 840 - Alamo township - Alamoship - town - Michigan - 26
0 - 2601160 - 01160 - 1160 - Algoma township - Algomaship - town - Michigan - 26
0 - 2601280 - 01280 - 1280 - Allegan township - Alleganship - town - Michigan - 26
0 - 2601360 - 01360 - 1360 - Allendale charter township - Allendaleship - town - Michigan - 26
0 - 2601600 - 01600 - 1600 - Almena township - Almenaship - town - Michigan - 26
0 - 2601640 - 01640 - 1640 - Almira township - Almiraship - town - Michigan - 26
0 - 2601680 - 01680 - 1680 - Almont township (balance) - Almontship - town - Michigan - 26
0 - 2601760 - 01760 - 1760 - Alpena township - Alpenaship - town - Michigan - 26
0 - 2601840 - 01840 - 1840 - Alpine township - Alpineship - town - Michigan - 26
0 - 2601980 - 01980 - 1980 - Amber township - Ambership - town - Michigan - 26
0 - 2603020 - 03020 - 3020 - Ann Arbor charter township - Ann Arborship - town - Michigan - 26
0 - 2603140 - 03140 - 3140 - Antwerp township (balance) - Antwerpship - town - Michigan - 26
0 - 2603220 - 03220 - 3220 - Arbela township - Arbelaship - town - Michigan - 26
0 - 2603280 - 03280 - 3280 - Arcadia township - Arcadiaship - town - Michigan - 26
0 - 2603420 - 03420 - 3420 - Argentine township - Argentineship - town - Michigan - 26
0 - 2603540 - 03540 - 3540 - Armada township - Armadaship - town - Michigan - 26
0 - 2603680 - 03680 - 3680 - Ash township - Ashship - town - Michigan - 26
0 - 2603700 - 03700 - 3700 - Ashland township - Ashlandship - town - Michigan - 26
0 - 2603900 - 03900 - 3900 - Athens township - Athensship - town - Michigan - 26
0 - 2604000 - 04000 - 4000 - Atlas township - Atlasship - town - Michigan - 26
0 - 2604040 - 04040 - 4040 - Attica township - Atticaship - town - Michigan - 26
0 - 2604180 - 04180 - 4180 - Augusta charter township - Augustaship - town - Michigan - 26
0 - 2604240 - 04240 - 4240 - Aurelius township - Aureliusship - town - Michigan - 26
0 - 2604780 - 04780 - 4780 - Bagley township - Bagleyship - town - Michigan - 26
0 - 2604840 - 04840 - 4840 - Bainbridge township - Bainbridgeship - town - Michigan - 26
0 - 2605120 - 05120 - 5120 - Bangor charter township - Bangorship - town - Michigan - 26
0 - 2605520 - 05520 - 5520 - Baroda township - Barodaship - town - Michigan - 26
0 - 2605560 - 05560 - 5560 - Barry township - Barryship - town - Michigan - 26
0 - 2605900 - 05900 - 5900 - Bath charter township - Bathship - town - Michigan - 26
0 - 2606380 - 06380 - 6380 - Bear Creek township - Bear Creekship - town - Michigan - 26
0 - 2606540 - 06540 - 6540 - Beaver township - Beavership - town - Michigan - 26
0 - 2606720 - 06720 - 6720 - Bedford charter township - Bedfordship - town - Michigan - 26
0 - 2606740 - 06740 - 6740 - Bedford township - Bedfordship - town - Michigan - 26
0 - 2607080 - 07080 - 7080 - Bellevue township - Bellevueship - town - Michigan - 26
0 - 2607280 - 07280 - 7280 - Bennington township - Benningtonship - town - Michigan - 26
0 - 2607400 - 07400 - 7400 - Benton charter township - Bentonship - town - Michigan - 26
0 - 2607420 - 07420 - 7420 - Benton township - Bentonship - town - Michigan - 26
0 - 2607440 - 07440 - 7440 - Benton township - Bentonship - town - Michigan - 26
0 - 2607600 - 07600 - 7600 - Benzonia township - Benzoniaship - town - Michigan - 26
0 - 2607720 - 07720 - 7720 - Berlin charter township - Berlinship - town - Michigan - 26
0 - 2607760 - 07760 - 7760 - Berlin township - Berlinship - town - Michigan - 26
0 - 2607820 - 07820 - 7820 - Berrien township (balance) - Berrienship - town - Michigan - 26
0 - 2607920 - 07920 - 7920 - Bertrand township - Bertrandship - town - Michigan - 26
0 - 2608220 - 08220 - 8220 - Big Creek township - Big Creekship - town - Michigan - 26
0 - 2608280 - 08280 - 8280 - Big Prairie township - Big Prairieship - town - Michigan - 26
0 - 2608320 - 08320 - 8320 - Big Rapids charter township - Big Rapidsship - town - Michigan - 26
0 - 2608400 - 08400 - 8400 - Bingham township - Binghamship - town - Michigan - 26
0 - 2608440 - 08440 - 8440 - Bingham township - Binghamship - town - Michigan - 26
0 - 2608560 - 08560 - 8560 - Birch Run township - Birch Runship - town - Michigan - 26
0 - 2608760 - 08760 - 8760 - Blackman charter township - Blackmanship - town - Michigan - 26
0 - 2608880 - 08880 - 8880 - Blair township - Blairship - town - Michigan - 26
0 - 2608940 - 08940 - 8940 - Blendon township - Blendonship - town - Michigan - 26
0 - 2609040 - 09040 - 9040 - Bloomer township - Bloomership - town - Michigan - 26
0 - 2609110 - 09110 - 9110 - Bloomfield charter township - Bloomfieldship - town - Michigan - 26
0 - 2609240 - 09240 - 9240 - Bloomingdale township - Bloomingdaleship - town - Michigan - 26
0 - 2609680 - 09680 - 9680 - Boston township - Bostonship - town - Michigan - 26
0 - 2609780 - 09780 - 9780 - Bowne township - Bowneship - town - Michigan - 26
0 - 2609920 - 09920 - 9920 - Brady township (balance) - Bradyship - town - Michigan - 26
0 - 2700946 - 00946 - 946 - Alexandria township - Alexandriaship - town - Minnesota - 27
0 - 2703286 - 03286 - 3286 - Baldwin township - Baldwinship - town - Minnesota - 27
0 - 2704636 - 04636 - 4636 - Becker township - Beckership - town - Minnesota - 27
0 - 2705086 - 05086 - 5086 - Bemidji township - Bemidjiship - town - Minnesota - 27
0 - 2705770 - 05770 - 5770 - Big Lake township - Big Lakeship - town - Minnesota - 27
0 - 2707246 - 07246 - 7246 - Bradford township - Bradfordship - town - Minnesota - 27
0 - 2707840 - 07840 - 7840 - Brockway township - Brockwayship - town - Minnesota - 27
0 - 2709388 - 09388 - 9388 - Cambridge township - Cambridgeship - town - Minnesota - 27
0 - 3400070 - 00070 - 70 - Aberdeen township - Aberdeenship - town - New Jersey - 34
0 - 3400550 - 00550 - 550 - Alexandria township - Alexandriaship - town - New Jersey - 34
0 - 3400670 - 00670 - 670 - Allamuchy township - Allamuchyship - town - New Jersey - 34
0 - 3400880 - 00880 - 880 - Alloway township - Allowayship - town - New Jersey - 34
0 - 3401360 - 01360 - 1360 - Andover township - Andovership - town - New Jersey - 34
0 - 3403050 - 03050 - 3050 - Barnegat township - Barnegatship - town - New Jersey - 34
0 - 3404450 - 04450 - 4450 - Bedminster township - Bedminstership - town - New Jersey - 34
0 - 3404695 - 04695 - 4695 - Belleville township - Bellevilleship - town - New Jersey - 34
0 - 3405305 - 05305 - 5305 - Berkeley township - Berkeleyship - town - New Jersey - 34
0 - 3405320 - 05320 - 5320 - Berkeley Heights township - Berkeley Heightsship - town - New Jersey - 34
0 - 3405470 - 05470 - 5470 - Berlin township - Berlinship - town - New Jersey - 34
0 - 3405560 - 05560 - 5560 - Bernards township - Bernardsship - town - New Jersey - 34
0 - 3405650 - 05650 - 5650 - Bethlehem township - Bethlehemship - town - New Jersey - 34
0 - 3406160 - 06160 - 6160 - Blairstown township - Blairstownship - town - New Jersey - 34
0 - 3406260 - 06260 - 6260 - Bloomfield township - Bloomfieldship - town - New Jersey - 34

0 - 3406640 - 06640 - 6640 - Boonton township - Boontonship - town - New Jersey - 34
0 - 3406700 - 06700 - 6700 - Bordentown township - Bordentownship - town - New Jersey - 34
0 - 3407180 - 07180 - 7180 - Branchburg township - Branchburgship - town - New Jersey - 34
0 - 3407420 - 07420 - 7420 - Brick township - Brickship - town - New Jersey - 34
0 - 3407720 - 07720 - 7720 - Bridgewater township - Bridgewatership - town - New Jersey - 34
0 - 3408710 - 08710 - 8710 - Buena Vista township - Buena Vistaship - town - New Jersey - 34
0 - 3408950 - 08950 - 8950 - Burlington township - Burlingtonship - town - New Jersey - 34
0 - 3409160 - 09160 - 9160 - Byram township - Byramship - town - New Jersey - 34
0 - 3601176 - 01176 - 1176 - Alexandria town - Alexandria - town - New York - 36
0 - 3602440 - 02440 - 2440 - Arcadia town (balance) - Arcadia - town - New York - 36
0 - 3603166 - 03166 - 3166 - Aurelius town - Aurelius - town - New York - 36
0 - 3603221 - 03221 - 3221 - Au Sable town - Au Sable - town - New York - 36
0 - 3604220 - 04220 - 4220 - Ballston town (balance) - Ballston - town - New York - 36
0 - 3606354 - 06354 - 6354 - Bethlehem town - Bethlehem - town - New York - 36
0 - 3709530 - 09530 - 9530 - Cajah's Mountain town - Cajah's Mountain - town - North Carolina - 37
0 - 5500950 - 00950 - 950 - Alden town - Alden - town - Wisconsin - 55
0 - 5508265 - 08265 - 8265 - Bloomfield village - Bloomfield - village - Wisconsin - 55
0 - 5509900 - 09900 - 9900 - Brockway town - Brockway - town - Wisconsin - 55